@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: 'Open sans';
  font-display: swap;
  src: local("opensans"), url("../font/OpenSans-Light.woff2") format("woff2"), url("../font/OpenSans-Light.woff") format("woff"); }
@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: 'PT sans';
  font-display: swap;
  src: local("PT Sans"), url("../font/PTSans-Regular.woff2") format("woff2"), url("../font/PTSans-Regular.woff") format("woff"); }
@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'PT sans';
  font-display: swap;
  src: local("PT Sans"), url("../font/PTSans-Bold.woff2") format("woff2"), url("../font/PTSans-Bold.woff") format("woff"); }
body {
  margin: 0;
  font-family: 'PT Sans', sans-serif; }

a {
  text-decoration: none; }

li {
  list-style: none; }

button {
  cursor: pointer; }

.title-what-we-do, .products-title, .about-us-title {
  margin: 0 auto;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #000; }

.nav-list-link, .link-footer {
  font-size: 16px;
  line-height: 21px;
  font-weight: normal;
  color: #fff;
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out; }
  .nav-list-link:hover, .link-footer:hover {
    color: #FFFF00; }
  .nav-list-link:active, .link-footer:active {
    color: #FF0000; }
  .nav-list-link:focus, .link-footer:focus {
    color: #FF0000; }

.container {
  max-width: 1060px; }

.header {
  height: 500px;
  background-image: url("../img/main-bg.png");
  background-repeat: no-repeat;
  background-size: cover; }

.header-top {
  height: 100px; }

.burger-container {
  display: none;
  -ms-flex-item-align: center;
      align-self: center;
  z-index: 2; }

.burger-btn {
  width: 30px;
  height: 25px;
  background: none;
  border: none;
  background-image: url("../img/Burger.svg");
  background-repeat: no-repeat; }

.header-nav-hide {
  display: none; }

.title-menu {
  display: none; }

.menu-close {
  display: none; }

.logo-container {
  -ms-flex-item-align: center;
      align-self: center; }

.header-logo {
  height: 49px;
  max-width: 249px; }

.nav-container {
  -ms-flex-item-align: center;
      align-self: center; }

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.nav-list-item {
  margin-right: 60px; }

.header-btn-group {
  -ms-flex-item-align: center;
      align-self: center;
  margin-left: auto; }

.header-btn {
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  background: none;
  border: none; }
  .header-btn:hover {
    color: #FFFF00; }
  .header-btn:focus {
    color: #FF0000; }
  .header-btn:active {
    color: #FF0000; }

.header-mid {
  margin-top: 80px;
  margin-bottom: 84px; }

.main__title {
  margin: 0 auto; }

.main-title {
  margin: 0;
  text-align: center;
  font-family: 'Open sans', sans-serif;
  font-size: 48px;
  line-height: 120%;
  color: #fff; }

.main-desc {
  margin: 0 auto; }

.decs-header {
  text-align: center;
  font-size: 18px;
  line-height: 23px;
  color: #fff; }

.what-we-do {
  margin-top: 80px; }

.what-we-do-list {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0; }

.what-we-do-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 35px 30px 35px;
  max-width: 340px;
  min-height: 323px;
  height: 100%;
  background-color: #fafafa;
  -webkit-transition: -webkit-box-shadow .2s ease-in-out;
  transition: -webkit-box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out, -webkit-box-shadow .2s ease-in-out; }
  .what-we-do-list-item::before {
    content: '';
    margin: 0 auto;
    width: 52px;
    min-height: 64px;
    background-image: url("../img/icon_01.svg");
    background-repeat: no-repeat; }
  .what-we-do-list-item:hover {
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
  .what-we-do-list-item:focus {
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.icon-02::before {
  content: '';
  width: 62px;
  min-height: 64px;
  background-image: url("../img/icon_02.svg");
  background-repeat: no-repeat; }

.icon-03::before {
  content: '';
  width: 62px;
  min-height: 64px;
  background-image: url("../img/icon_03.svg");
  background-repeat: no-repeat;
  background-size: contain; }

.list-title {
  -ms-flex-item-align: center;
      align-self: center;
  text-align: none;
  font-size: 18px;
  line-height: 23px;
  color: #000;
  font-weight: bold; }

.what-we-do-desc-item {
  margin: 0;
  text-align: none;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  font-weight: normal; }

.what-we-do-link {
  display: inline-block;
  margin-top: auto;
  padding-top: 20%;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: none;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  font-weight: normal;
  color: #1657AB;
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out; }
  .what-we-do-link:hover {
    color: #FFFF00; }
  .what-we-do-link:active {
    color: #FF0000; }
  .what-we-do-link:focus {
    color: #FF0000; }

.products {
  margin-top: 80px; }

.products-desc {
  font-size: 16px;
  line-height: 21px; }

.products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 32px; }

.products-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 48px 0 0 0;
  padding: 0 20px; }
  .products-list-item a {
    color: #1657AB;
    text-decoration: underline; }
  .products-list-item::before {
    content: '';
    margin: 0 auto;
    min-width: 64px;
    min-height: 64px;
    background-image: url("../img/icon_04.svg");
    background-repeat: no-repeat;
    background-size: contain; }
  .products-list-item:nth-child(2)::before {
    content: '';
    margin: 0 auto;
    min-width: 58px;
    min-height: 64px;
    background-image: url("../img/icon_05.svg");
    background-repeat: no-repeat; }
  .products-list-item:nth-child(3)::before {
    content: '';
    margin: 0 auto;
    min-width: 64px;
    min-height: 64px;
    background-image: url("../img/icon_06.svg");
    background-repeat: no-repeat; }
  .products-list-item:nth-child(4)::before {
    content: '';
    margin: 0 auto;
    min-width: 91px;
    min-height: 64px;
    background-image: url("../img/icon_07.svg");
    background-repeat: no-repeat; }
  .products-list-item:nth-child(5)::before {
    content: '';
    margin: 0 auto;
    min-width: 58px;
    min-height: 64px;
    background-image: url("../img/icon_08.svg");
    background-repeat: no-repeat; }
  .products-list-item:nth-child(6)::before {
    content: '';
    margin: 0 auto;
    min-width: 64px;
    min-height: 64px;
    background-image: url("../img/icon_09.svg");
    background-repeat: no-repeat; }

.products-list-title {
  text-align: center;
  font-size: 18px;
  line-height: 23px;
  color: #000;
  font-weight: bold; }

.products-list-desc {
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  font-weight: normal; }
  .products-list-desc a {
    -webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out; }
  .products-list-desc a:hover {
    color: #FFFF00; }
  .products-list-desc a:active {
    color: #FF0000; }
  .products-list-desc a:focus {
    color: #FF0000; }

.products-btn {
  min-width: 231px;
  min-height: 56px;
  border: 1px solid #85B657;
  border-radius: 4px;
  background-color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  font-weight: normal;
  -webkit-transition: all .2s  ease-in-out;
  transition: all .2s  ease-in-out; }
  .products-btn:hover {
    background-color: #85B657;
    color: #fff; }
  .products-btn:focus {
    background-color: #85B657;
    color: #fff;
    outline: none; }

.about-us {
  margin-top: 80px; }

.about-us-title {
  margin-bottom: 30px; }

.about-us-desc {
  font-size: 16px;
  line-height: 21px; }

.img-container {
  margin-top: 30px; }

.about-us-img {
  margin-right: 35px;
  max-width: 93px;
  max-height: 87px; }
  .about-us-img:nth-child(2) {
    max-width: 94px;
    max-height: 95px; }
  .about-us-img:nth-child(3) {
    max-width: 94px;
    max-height: 105px; }
  .about-us-img:nth-child(4) {
    max-width: 102px;
    max-height: 99px; }
  .about-us-img:nth-child(5) {
    margin: auto 0;
    max-width: 190px;
    max-height: 45px; }

.footer {
  margin-top: 117px;
  min-height: 238px;
  background-color: #19263F; }

.footer__item {
  padding-top: 40px; }

.footer-mid {
  margin: 26px 0 29px 0; }

.link-footer {
  margin-right: 25px; }

.link-social {
  display: inline-block;
  margin-right: 31px;
  width: 50px;
  height: 50px;
  background-image: url("../img/link_fb.svg");
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out; }
  .link-social:nth-child(2) {
    background-image: url("../img/link_tw.svg"); }
  .link-social:nth-child(3) {
    background-image: url("../img/link-ins.svg"); }
  .link-social:hover {
    opacity: 50%; }
  .link-social:focus {
    opacity: 50%; }

.copy {
  color: #fff;
  font-size: 15px;
  line-height: 19px; }

.dropdown {
  display: none; }

.drop-list {
  position: relative;
  cursor: pointer;
  color: #fff; }
  .drop-list::after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 5px;
    background-image: url("../img/Vector.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 10px;
    left: 65px; }

.dropdown-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 80px;
  min-height: 100%;
  background-color: #304366;
  border: 1px solid #ccc;
  border-radius: 1px;
  position: absolute;
  top: 20px;
  left: 0; }

.drop-list-item {
  display: block;
  font-size: 16px;
  padding: 5px;
  color: #fff;
  word-wrap: none;
  word-break: none;
  min-width: 100%;
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out; }
  .drop-list-item:not(:last-child) {
    border-bottom: 1px solid #ccc; }
  .drop-list-item:hover {
    opacity: 50%; }

@media (max-width: 992px) {
  .container {
    padding: 0 30px; }

  .nav-container {
    display: none; }

  .logo-container {
    margin: 0 auto; }

  .burger-container {
    display: block; }

  .drop-list::after {
    top: 18px; }

  .dropdown-show {
    top: 30px; }

  .header-btn-group {
    margin-left: auto; }

  .btn-list {
    margin-top: 10px;
    border-top: 1px solid #000; }

  .header-btn {
    padding: 0 10px; }

  .products-list {
    padding: 0; }

  .mobile-menu {
    display: block;
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -200px;
    background-color: #19263F;
    -webkit-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
    z-index: 99;
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
    .mobile-menu .nav-container {
      display: block; }
    .mobile-menu .nav-list-item {
      padding: 10px 0; }
    .mobile-menu .nav-list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .mobile-menu .title-menu {
      display: block;
      font-size: 32px;
      border-bottom: 1px solid #000;
      padding-bottom: 10px;
      margin-bottom: 20px; }
    .mobile-menu .menu-close {
      display: block;
      width: 30px;
      height: 30px;
      position: absolute;
      top: 10px;
      right: 10px;
      background: none;
      border: none;
      background-image: url("../img/x.svg"); } }
@media (max-width: 767px) {
  .header-btn-group {
    display: none; }

  .header-logo {
    max-width: 200px;
    max-height: 35px; }

  .header-nav-hide {
    display: block; }

  .what-we-do-list__item {
    margin-bottom: 20px; }

  .what-we-do-list-item {
    margin: 0 auto; } }
@media (max-width: 576px) {
  .header {
    height: 100%; }

  .what-we-do-list-item {
    margin: 10px auto; }

  .products-list-item {
    margin: 0 auto; }

  .about-us-img {
    display: inline-block;
    margin: 15px; } }

/*# sourceMappingURL=style.css.map */